
*.pyc
cogs/__pycache__/__init__.cpython-310.pyc
cogs/__pycache__/debug.cpython-310.pyc
config/token.json


config/token.json
/config/db.json
/database/backups/pierdolę_windowsa.sql
/database/backups/jebać_windę.sql
