
*.pyc
cogs/__pycache__/__init__.cpython-310.pyc
cogs/__pycache__/debug.cpython-310.pyc
config/token.json


config/token.json
/config/db.json
/database/backups/pierdolę_windowsa.sql
/database/backups/jebać_windę.sql
.idea/dataSources.local.xml
.idea/dataSources/aaf17995-c691-4a69-aaf3-2ce7972a97e0.xml
.idea/dataSources/aaf17995-c691-4a69-aaf3-2ce7972a97e0/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/aaf17995-c691-4a69-aaf3-2ce7972a97e0/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/aaf17995-c691-4a69-aaf3-2ce7972a97e0/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/sqldialects.xml
.idea/dataSources.xml
.idea/other.xml
.idea/dataSources/fec0ce8d-f54f-49ef-be2b-b5fca24de315.xml
.idea/dataSources/fec0ce8d-f54f-49ef-be2b-b5fca24de315/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/fec0ce8d-f54f-49ef-be2b-b5fca24de315/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/fec0ce8d-f54f-49ef-be2b-b5fca24de315/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/inspectionProfiles/profiles_settings.xml
gfx/maps/final_image.png
gfx/maps/final_image.png
